body {
    font-family: sans-serif;
    font-size: 11px;
		background-color:white;
}

div{
	overflow: hidden;
	/* width: 100%; */
	/* vertical-align: top;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
  box-sizing: border-box; */
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    fill: #f00;
    stroke: #000;
}

.label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.side1{
		width: 50%;
		float: left;
}

/* .side2{
		margin-left: 50%;
} */
