body {
    font-family: sans-serif;
    font-size: 11px;
		background-color:white;
}

div{
	overflow: hidden;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    fill: #f00;
    stroke: #000;
}

.label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

/* helper code from https://codepen.io/raddevon/pen/zlrhf */
.side1{
		width: 50%;
		float: left;
}
